input::placeholder,
textarea::placeholder {
  color: rgb(132, 132, 132);
  opacity: 1;
}

select {
  color: rgb(36, 36, 36);
  opacity: 1;
}

label {
  color: rgb(241, 241, 241);
  font-size: 15px;
  margin-bottom: 4px;
}
