@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.nova-square-regular {
  font-family: "Nova Square", sans-serif;
}

nav .active {
  color: #ffa33b;
  font-weight: bold;
}

.aside-div .active {
  background: linear-gradient(to top right, #dc4900, #ffa41c);
  color: white;
}

@media (max-width: 600px) {
  nav .active {
    color: #ffa33b;
    font-weight: bold;
  }
}

::selection {
  background-color: red;
  color: white;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}
