@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.nova-square-regular {
  font-family: "Nova Square", sans-serif;
}

nav .active {
  background: rgba(0, 0, 0, 0.251);
  color: white;
}

.aside-div .active {
  background-color: rgb(255, 230, 230);
  color: rgb(40, 40, 40);
}

@media (max-width: 600px) {
  nav .active {
    background: linear-gradient(to top, #df860034, #df860000);
    border-bottom: none;
  }
}

::selection {
  background-color: red;
  color: white;
}
